<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{URL}}/css/bootstrap.min.css" rel="stylesheet">

    <title>{{title}}</title>
  </head>
  <body class="bg-dark text-light">
    
    <div class="container">
        
        {{content}}
        
    </div>

    

   
    <script src="{{URL}}/js/bootstrap.bundle.min.js"></script>


  </body>
</html>